* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

body {
    background-color: rgb(211, 211, 211);
}

.container {
    padding: 0 3rem;
}

.cuestionarios {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.cuestionario {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    color: black;
}

.cuestionario:hover {
    background-color: #7e8892;
    cursor: pointer;
    border: 2px solid rgb(236, 235, 235);
    color: rgb(236, 235, 235);
}

.cuestionario:hover .head{
    border-bottom: 2px solid rgb(236, 235, 235);
}

.head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
}

.actions i {
    margin-left: 0.2rem;
    font-size: 1.4rem;
    border-radius: 99rem;
    padding: 0.2rem 0.4rem;
}

.edit:hover {
    background-color: rgb(3, 0, 153);
}

.delete:hover {
    background-color: rgb(167, 0, 0);
}

.title h4 {
    font-weight: bold;
}

.cuestionario p {
    font-size: 1.1rem;
}

/* Nuevo */

.newPregunta {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 255, 170, 0.356);
}

.headCuestionario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.headCuestionario h5 {
    margin: 0;
}

.contentCuestionario {
    background-color: rgba(255, 255, 255, 0.315);
    padding: 1rem;
    border-radius: 1rem;
}

.myInput {
    background-color: rgba(255, 0, 0, 0);
    border: 0;
    border-bottom: black solid 2px;
}

.myInputOpc {
    background-color: rgba(255, 0, 0, 0);
    border: 0;
}

.add i:hover {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid black;
}

.option {
    display: flex;
    align-items: center;
}